* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

html {
  background-image: url(https://img.freepik.com/fotos-gratis/plano-de-fundo-texturizado-com-pincelada-bege_53876-129531.jpg?w=1380&t=st=1674475254~exp=1674475854~hmac=67727c39afef834200f9e25ec3d5d09a7d5808924ea2902c4794e5749f12a11e);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 100%;
  font-family: sans-serif;
}

@media (max-width: 600px) {
  html {
    background-image: none;
    background: rgb(165, 247, 241);
    background: linear-gradient(
      180deg,
      rgba(165, 247, 241, 1) 0%,
      rgba(135, 245, 236, 1) 63%,
      rgba(95, 255, 241, 1) 81%,
      rgba(53, 255, 239, 1) 100%
    );
  }
}
